* {
    margin: 0;
    border: 0;
    padding: 0;

}
h1{
    font-family: "Oswald", sans-serif;
    color: black;

}
h2{
    font-family: "Oswald", sans-serif;
    color: black;
}
h3{
    font-family: "Oswald", sans-serif;
}
h4{
    font-family: "Oswald", sans-serif;
}
  

