
}
=======
* {
    font-family: 'Poppins', sans-serif;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
main {
    width: auto;
}
>>>>>>> bea789c37c8974a3f63a1c020b70c50af1ba13c0
