.admin-form {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(100, 119, 79, 1) 100%
  );
  padding: 3% 1% 1% 1%;
  font-size: 20px;
  .row {
    margin-bottom: 2%;

    .active-holder {
      margin-top: -1%;

      .active-radio {
        display: flex;

        .form-check {
          margin-left: 2%;
        }
      }
    }
  }

  .row {
    margin-bottom: 2%;
}
input.form-control{
    font-size: 16px;
}
input.form-control:focus {
  box-shadow: none;
  border-color: #5c5d5a;
}
select.form-select{
    font-size: 16px;
}
select.form-select:focus {
  box-shadow: none;
  border-color: #5c5d5a;
}
}



