.enroll-student-form {
  padding: 1%;
  font-size: 30px;
  .row {
    margin-bottom: 2%;
  }
}

.stud-num{
  width: 100%;
  padding: 10px;
  display: flex;
    width: 100%;
    margin-left: 0px;
    justify-content: flex-start;
    
}

.class-id{
  width: 100%;
  padding: 10px;
  display: flex;
    width: 100%;
    margin-left: 0px;
    justify-content: flex-start;
    
}

