.enroll-student-form {
  padding: 1%;
  .row {
    margin-bottom: 2%;
  }
}

.stud-num{
  width: 100%;
  padding: 10px;
  display: flex;
    width: 100%;
    margin-left: 0px;
    justify-content: flex-start;
    
}

.class-id{
  width: 100%;
  padding: 10px;
  display: flex;
    width: 100%;
    margin-left: 0px;
    justify-content: flex-start;
    
}

.class-count{
  width: 100%;
  margin-top: 20px;
  margin-left: 4px;
  padding: 10px;
  p{display: flex;
    width: 100%;
    margin-left: -2px;
    justify-content: flex-start;
    
    
  .class-count{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 17px;
   }
  }
 }