@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.admin-home {
  background-color: #ffffffb0;
  .where {
    position: relative;
    background-color: #3a4f24;
    color: #ffffff;
    padding: 20px;
    font-size: 20px;
    overflow: hidden;
    text-align: center;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      margin-left: 90px;
      height: 10%;
      width: 100%;
      background: linear-gradient(
        to right,
        transparent 0%,
        #807d01 50%,
        transparent 100%
      );
      animation: wave 2s linear infinite;
      transform: translateX(-100%);
    }
    &::after {
      content: "";
      position: absolute;
      top: 58px;
      margin-left: 90px;
      height: 10%;
      width: 100%;
      background: linear-gradient(
        to right,
        transparent 0%,
        #807d01 50%,
        transparent 100%
      );
      animation: wave 2s linear infinite;
      transform: translateX(-100%);
    }
  }

  .feed-header h1 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    border: 3px solid#dbbc2c;
    width: 100%;
    background-color: #3a4f24;
    color: #ffffff;
    font-style: italic;
    text-align: center;
    margin: 0;
    font-weight: 600;
    opacity: 0; 
    animation: fade-in-out 5s ease forwards;
    display: inline-block; 
    span {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      color: #dbbc2c;
      font-style: italic;
      font-weight: 600;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      margin-left: 90px;
      height: 6%;
      width: 100%;
      background: linear-gradient(
        to right,
        transparent 0%,
        #ffffff 50%,
        transparent 100%
      );
      animation: wave 2s linear infinite;
      transform: translateX(-100%);
    }
  }

  @keyframes fade-in-out {
    0% {
      opacity: 0; 
    }
    25% {
      opacity: 1; 
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0; 
      display: none; 
    }
  }

  .buttons {
    padding: 50px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 70px;
    
    cursor: pointer;

    .divide {
      padding: 10px;
      background-color: #3a4f24;
      color: white;
      height: 300px;
      width: 100%;
      border-radius: 20px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 25);
      display: flex;
      justify-content: center;
      align-items: center;

      .i {
        font-size: 70px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 5px;
        width: 100%;
        padding: 5px;
      }

      h1 {
        font-family: "Raleway", sans-serif;
        font-size: 20px;
      }
    }
    .divide:hover {
      border: 4px solid #dbbc2c;
      animation: floatAnimation 3s ease infinite;
    }
  }
}

@keyframes wave {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
