.professor-form {
  padding: 1%;
  font-size: 30px;

  .row {
    margin-bottom: 2%;

    .active-holder {
      margin-top: -1%;

      .active-radio {
        display: flex;

        .form-check {
          margin-left: 2%;
        }
      }
    }
  }
  
  .row {
    margin-bottom: 2%;
}
input.form-control{
    font-size: 20px;
}
select.form-select{
    font-size: 20px;
}
}
