.subject-form {
  padding: 1%;
  font-size: 30px;
  
  .row {
    margin-bottom: 2%;
  }
}

.sub-code{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
} 

.sub-des{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

