.course-main-container {
    padding: 5em 1em;
    .course-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        grid-gap: 2vh;
        align-items: center;
        justify-items: center;
        justify-content: center;

        .course-card {
            width: 350px;
            
            button{
                width: 100%;
                border-radius: 20px;
            }
        }
    }
}
