.stat-card .stat-one {
    height: 200px;
    width: 700px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 20px;
}
.stat-one h1 {
    font-size: 30px;
    color: black;
    position: relative;
    top: 30px;
    left: 60px;
}
.stat-card .stat-one .num-one {
    position: relative;
    left: 120px;
    top: 50px;
    color: black;
}
.stat-card .stat-one .text-one {
    position: relative;
    left: 140px;
    top: -120px;
    font-size: 20px;
}
.stat-card .stat-one .num-two {
    position: relative;
    left: 250px;
    top: 4px;
    color: black;
}
.stat-card .stat-one .text-two {
    position: relative;
    left: 270px;
    top: -152px;
    font-size: 20px;
}

.stat-card .stat-one .num-three {
    position: relative;
    left: 390px;
    top: -42px;
    color: black;
}
.stat-card .stat-one .text-three {
    position: relative;
    left: 410px;
    top: -184px;
    font-size: 20px;
}
.stat-card .stat-one .num-four {
    position: relative;
    left: 520px;
    top: -88px;
    color: black;
}
.stat-card .stat-one .text-four {
    position: relative;
    left: 540px;
    top: -216px;
    font-size: 20px;
}

.stat-card .stat-two {
    height: 200px;
    width: 590px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 20px;
    left: 720px;
    top: -220px;
}
.stat-card .stat-two h1 {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 50px;
}
.stat-card .stat-two h2 {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 50px;
}
