



.stat-card .stat-one{
    height: 200px;
    width: 1330px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 40px;
}
.stat-one h1{
    font-size: 30px;
    color: black;
    position: relative;
    top: 30px;
    left: 60px;
}
.stat-card .stat-one .num-one{
    position: relative;
    left: 150px;
    top: 50px;
    color: black;
}
.stat-card .stat-one .text-one{
    position: relative;
    left: 170px;
    top: -120px;
    font-size: 20px;
}
.stat-card .stat-one .num-two{
    position: relative;
    left: 350px;
    top: 4px;
    color: black;
}
.stat-card .stat-one .text-two{
    position: relative;
    left: 370px;
    top: -152px;
    font-size: 20px;
}

.stat-card .stat-one .num-three{
    position: relative;
    left: 550px;
    top: -42px;
    color: black;
}
.stat-card .stat-one .text-three{
    position: relative;
    left: 570px;
    top: -184px;
    font-size: 20px;
}
.stat-card .stat-one .num-four{
    position: relative;
    left: 750px;
    top: -88px;
    color: black;
}
.stat-card .stat-one .text-four{
    position: relative;
    left: 770px;
    top: -216px;
    font-size: 20px;
}

.stat-card .stat-two{
    height: 200px;
    width: 590px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 40px;
    left: 915px;
    top: 300px;
}


