.card-body {
    text-align: center;
    font-size: 20px;
    text-align: left;
    background-color: transparent;
    

    p {
        text-align: justify;
    }
    p, label.dear-student {
        padding: 20px
    }
    .drop{
        width: 115px;
        padding: 1px;
    }
    span{
        font-size: 10px;
    }
    .select{
        width:  14%;
        text-align: center;
    }
}
.form-check{
    font-size: 15px;
}

.card-body span{
    font-size: 20px;
}

.details{
    width: 500px;
}

.details2{
    width: 500px;
}

