.feed-student {
    padding: 5vw;

    .feed-student-body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 20px;
        background-image: linear-gradient(45deg, #044a6b, #09612a, #044a6b);
        .feed-img {
            height: 170px;
            width: 120px;
            position: relative;
        }
    }

    .feed-content {
        min-height: 50vh;
        width: 90%;
        border-radius: 30px;
        align-items: center;
        display: flex;
        margin-bottom: 100px;
        .announce{
            width: 90%;
            margin: 20px;
        }
        
        
        .professor{
          margin-top: 250px;
          margin-left: 1000px;
        }

        .fc-greetings {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: -400px;
            top: 40px;
            .f-greetings {
                text-align: center;
                font-size: 30px;
            }
        }
        .fc-subject {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: -400px;
            top: 250px;
            .f-subject {
                text-align: center;
                font-size: 30px;
            }
        }
        .fc-name {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: 410px;
            top: 200px;
            .f-name {
                text-align: center;
                font-size: 30px;
            }
        }
        .date-time {
            position: absolute;
            font-weight: 500px;
            left: 1100px;
            top: 50px;
        }
    }

    .feed-content-one {
        height: 50vh;
        width: 90%;
        margin: 60px;
        border-radius: 30px;
        align-items: center;
        display: flex;
        .fc-greetings {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: -400px;
            top: 40px;
            .f-greetings {
                text-align: center;
                font-size: 30px;
            }
        }
        .fc-subject {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: -400px;
            top: 250px;
            .f-subject {
                text-align: center;
                font-size: 30px;
            }
        }
        .fc-name {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: 410px;
            top: 200px;
            .f-name {
                text-align: center;
                font-size: 30px;
            }
        }
        .date-time {
            position: absolute;
            font-weight: 500px;
            left: 1100px;
            top: 50px;
        }
    }
    .feed-content-two {
        height: 50vh;
        width: 90%;
        margin: 60px;
        border-radius: 30px;
        align-items: center;
        display: flex;
        .fc-greetings {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: -400px;
            top: 40px;
            .f-greetings {
                text-align: center;
                font-size: 30px;
            }
        }
        .fc-subject {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: -400px;
            top: 250px;
            .f-subject {
                text-align: center;
                font-size: 30px;
            }
        }
        .fc-name {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: 410px;
            top: 200px;
            .f-name {
                text-align: center;
                font-size: 30px;
            }
        }
        .date-time {
            position: absolute;
            font-weight: 500px;
            left: 1100px;
            top: 50px;
        }
    }
}

.header-time{
margin-left: 1100px;
margin-top: -45px;
}

.header-announcement h1{
    text-align: center;
    margin: 10px;
}

