@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.feed-student {
  padding: 0px;
  border: none;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .feed-header {
    padding: 0;
    margin-bottom: 20px;
    background-color: #3a4f24;
    //border-bottom: 1px solid #a5a5a5;
    width: 500%;
    display: flex;
    justify-content: flex-start;
    h1 {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      padding: 15px;
      margin-left: 10px;
      margin-top: 10px;
      color: #ffffff;
      font-style: italic;
      font-weight: 500;
    }
    span {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      color: #dbbc2c;
    }
  }

  .feed-student-body {
    min-height: 100vh;
    display: flex;
    padding-top: 5vw;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    border: none;
  }
  .feed-lang {
    width: 90%;
  }

  .feed-content {
    min-height: 50vh;
    width: 100%;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    border: none;
    background-color: #4b4b4b21;

    .header-announcement {
      width: 90%;
      margin-top: 20px;
      text-align: left;
      padding: 1px;
      display: flex;

      h1 {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 30px;
        display: flex;
        justify-content: flex-start;
        padding: 15px;
        margin-top: 30px;
      }
      .header-time {
        font-family: "Raleway", sans-serif;
        justify-content: center;
        text-align: justify;
        display: flex;
        font-size: 15px;
        margin-top: 50px;
      }
    }

    .professor {
      width: 90%;
      font-family: "Raleway", sans-serif;
      display: flex;
      justify-content: flex-end;
      font-size: 30px;
      font-weight: 700;
      padding: 15px;
      margin-right: 0;
      margin-bottom: 45px;
    }

    .announce {
      width: 90%;
      margin: 50px;
      background-color: white;
      border-radius: 10px;
      padding: 35px;
      margin-bottom: 10%;
      p {
        margin: 10px;
      }
    }

    .date-time {
      position: absolute;
      font-weight: 500px;
      left: 1100px;
      top: 50px;
    }
  }
}
.left-column {
  width: 50%; 
}

.right-column {
  width: 50%;
  display: flex;
  font-size: 10px;
  justify-content: space-around;
  flex-direction: row-reverse;


  

}
