.feed-student {
    padding: 5vw;
    border: 0%;

    .feed-student-body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 20px;
        .feed-img {
            height: 170px;
            width: 120px;
            position: relative;
        }
    }

    .feed-content {
        min-height: 50vh;
        width: 90%;
        border-radius: 30px;
        align-items: center;
        display: flex;
        margin-bottom: 100px;

        .header-announcement {
            width: 90%;
            margin-top: 20px;
            text-align: left;
        }

        .header-time{
            width: 10%;
            margin-left: 100%;
            }
        
            .professor{
                width: 20%;
              margin-left: 80%;
            }

        .announce{
            width: 90%;
            margin: 50px;
            border: 1px solid;
            border-radius: 10px;
            margin-bottom: 10%;
            p{
                margin: 10px;
            }
        }
        
        
        

        .fc-greetings {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: -400px;
            top: 40px;
            .f-greetings {
                text-align: center;
                font-size: 30px;
            }
        }
        .fc-subject {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: -400px;
            top: 250px;
            .f-subject {
                text-align: center;
                font-size: 30px;
            }
        }
        .fc-name {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: 410px;
            top: 200px;
            .f-name {
                text-align: center;
                font-size: 30px;
            }
        }
        .date-time {
            position: absolute;
            font-weight: 500px;
            left: 1100px;
            top: 50px;
        }
    }

    .feed-content-one {
        height: 50vh;
        width: 90%;
        margin: 60px;
        border-radius: 30px;
        align-items: center;
        display: flex;
        .fc-greetings {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: -400px;
            top: 40px;
            .f-greetings {
                text-align: center;
                font-size: 30px;
            }
        }
        .fc-subject {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: -400px;
            top: 250px;
            .f-subject {
                text-align: center;
                font-size: 30px;
            }
        }
        .fc-name {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: 410px;
            top: 200px;
            .f-name {
                text-align: center;
                font-size: 30px;
            }
        }
        .date-time {
            position: absolute;
            font-weight: 500px;
            left: 1100px;
            top: 50px;
        }
    }
    .feed-content-two {
        height: 50vh;
        width: 90%;
        margin: 60px;
        border-radius: 30px;
        align-items: center;
        display: flex;
        .fc-greetings {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: -400px;
            top: 40px;
            .f-greetings {
                text-align: center;
                font-size: 30px;
            }
        }
        .fc-subject {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: -400px;
            top: 250px;
            .f-subject {
                text-align: center;
                font-size: 30px;
            }
        }
        .fc-name {
            background-color: rgb(230, 230, 230);
            height: 50px;
            width: 300px;
            border-radius: 90px;
            border: none;
            left: 410px;
            top: 200px;
            .f-name {
                text-align: center;
                font-size: 30px;
            }
        }
        .date-time {
            position: absolute;
            font-weight: 500px;
            left: 1100px;
            top: 50px;
        }
    }
}




