@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: seagreen;
}

.wrapper {
    width: 420px;
    background-color: slateblue;
    color: antiquewhite;
    h1 {
        font-size: 36px;
        text-align: center;
    }
    .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 20px 0;
        input {
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            border: 2px solid rgba(255, 255, 255, 0.2);
            border-radius: 40px;
            font-size: 16px;
            color: antiquewhite;
            padding: 20px 45px 20px 20px;
        }

        input::placeholder {
            color: aliceblue;
        }
        .icon {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translate(-50%);
            font-size: 16px;
        }
    }
}
