@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);

* {
  margin: 0;
  padding: 0;
}

.container {
  
  
  .content {
    
    .etch {
      font-family: "Raleway", sans-serif;
      font-size: 100px;
    }
  }
}

.bgN {
  padding: 20px;
 
  .notif {
    
    width: 100%;

    thead {
      font-size: 20px;
      margin-left:0 ;
      width: 700%;
      display: flex;
      justify-content: center;

      th {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        width: 100%;
        text-align: center;
        background-color: #3a4f24;

        color: white;
      }
    }

    .table-main {
      .t-body {
        margin: 10px;
        font-size: 20px;
        flex-direction: column;
        .desc-tr {
          background-color: black;
          td {
            background-color: rgb(239, 255, 214);
            padding: 20px;
            margin: 2px;
            font-size: 15px;

            .from {
              font-size: 20px;
            }
            .content {
              text-align: center;
            }
            .time-date {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
