.profile {
    width: auto;
    margin: 20px;
    border-radius: 4px;
    padding-bottom: 20px;
    background: #1c6b2f;
    align-items: center;
    text-align: justify;
    color: black;
    border-radius: 20px;

    .profile-down1 {
        height: auto;
        text-align: center;
        img {
            height: 200px;
            border-radius: 500px;
            margin-top: 47px;
            margin-left: 10px;
            padding: 0px;
            background: white;
            border: 5px solid;
        }
    }

    .profile-down1 {
        font-size: 30px;
        text-align: center;
    }
}
