@import "variables";
.sidebar-container {
  display: none;
  background-image: linear-gradient(45deg, #044a6b, #09612a, #044a6b);
  min-height: 100vh;
  padding: 1vw;
  width: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  border: 3px solid;
  
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $text-color;
    width: 100%;
    padding: 10px; /* Adjusted padding */
    margin: 0px 1px;
    border-radius: 100%; /* Border radius to make it a circle */
    position: relative;

    .image-container {
      width: 60%;
      padding-top: 100%;
      position: relative;
      overflow: hidden;

      img.sidebar-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    span {
      display: inline;
      font-weight: 500;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      font-size: 1px;
      transition: opacity 1s ease;
    }
  }
  a:hover {
    background-color: rgb(207, 207, 207);
    background: rgba(255, 255, 255, 0.2);
  }

  a:hover span {
    opacity: 1;
    padding: 5px;
    font-size: 10px;
    border-radius: 50px;
    background-color: #f1f1f1;
    top: -30px;
    left: 40px;
  }

  ul.iconS {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    box-sizing: content-box;
    li {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  transition: all 0.5s ease-in-out;
}

@media (min-width: $md) {
  .sidebar-container {
    display: flex;
  }
  .sidebar-close-btn {
    display: none;
  }
}
