.container {
  //padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  .col-md-8.col-12 {
    padding: 50px;
    padding-top: 0;
    width: 100%;
  }
  .taskk-header {
    margin: 2px;
    margin-bottom: 20px;
    background-color: #3a4f24;
    //border-bottom: 1px solid #a5a5a5;
    width: 100%;
    padding: 10px;
    display: flex;

    .task-type {
      font-size: 20px;
      width: 100%;
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      padding-bottom: 0px;
      .task-titles {
        padding-right: 0;
        padding-left: 0;
        font-size: 20px;
        color: #dbbc2c;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
      }
    }

    h1 {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      padding: 10px;
      margin-left: 10px;
      margin-top: 10px;
      color: #ffffff;
      font-style: italic;
      font-weight: 500;
    }
    span {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      color: #dbbc2c;
    }
  }
  .main-left-card-container {
    border: 0;
    //margin: 2%;
    padding: none;
    background-color: transparent;

    .header-container {
      padding: 3vh;
      display: flex;
      text-align: center;
      justify-content: center;
      margin-bottom: 2%;
      background-color: rgba(242, 255, 227, 0.773);
      border: none;
      width: 100%;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      .dueT {
        font-size: 15px;

        display: flex;
        justify-content: center;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        padding: 10px;
        padding-bottom: 0;
        .date {
          font-family: "Raleway", sans-serif;
          color: rgba(204, 0, 0, 0.842);
        }
      }

      .task-type {
        font-size: 40px;
        color: rgb(0, 0, 0);
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        .task-titles {
          font-size: 40px;
          color: rgb(0, 0, 0);
          font-family: "Raleway", sans-serif;
          font-weight: 700;
        }
      }
      .points-label {
        font-size: 20px;
        color: gray;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
      }
      .points {
        font-size: 30px;
        color: gray;
        font-family: "Raleway", sans-serif;
      }
    }

    .content-container {
      padding: 3vh;
      margin-bottom: 2%;
      width: 100%;
      background-color: rgba(242, 255, 227, 0.773);
      border: none;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      .yes {
        font-family: "Raleway", sans-serif;
        padding: 40;
        text-align: center;
      }
    }

    .attachment-container {
      padding: 6vh;
      height: auto;
      margin-bottom: 2%;
      margin: 20px;
      width: 100%;
      background-color: rgba(242, 255, 227, 0.773);
      border: none;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      .image-container {
        height: 200px;
        width: 200px;
        overflow: hidden;
        margin-bottom: 10px;
      }

      .attachment-image {
        width: 100%;
        height: auto;
      }

      .boxbox {
        //border: 2px solid #3a4f24;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: row;
      }
    }
  }

  .main-right-card-container {
    border: none;
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;

    .submission-card {
      display: flex;
      width: 100%;
      margin-top: 2%;
      padding: 10vh;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      width: 100%;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      h5 {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
      }
      .file-container {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px; 
      }
      .file-item {
        height: 200px;
        width: 200px;
        overflow: hidden;
        margin-bottom: 10px; 
      }
    }
    .submission-card:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 5);
    }
  }

  .student-work-container {
    margin-bottom: 4%;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin-bottom: 1%;
    .upload-file-button {
      background-color: #3a4f24;
      border: none;
      width: 50%;
      border-radius: 30px;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 20px;
    }
  }
  .buttons-container:hover {
    .upload-file-button {
      background-color: gray;
      border: none;
    }
  }

  .mark-button {
    width: 100%;
    border-radius: 30px;
    background-color: #3a4f24;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 20px;
  }
  .mark-button:hover {
    background-color: gray;
    border: none;
    width: 100%;
  }
  .popup-submission {
    width: 90%;
    height: 90%;
    border: 1px solid #dbbc2c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
    .eks {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: center;
    }
    .guZdik {
      width: 100%;
      height: 100%;
    }
  }
  .poll-container {
    padding: 3vh;
    margin-bottom: 2%;
    width: 100%;
    background-color: rgba(242, 255, 227, 0.773);
    border: none;
    border-radius: 15px;

    .poll {
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      padding: 20px;
    }
    .choice-container {
      display: flex;
      padding: 10px;
      padding-bottom: 20px;
      justify-content: center;
      align-items: center;
      margin: 5px;
      .mark-button-c {
        width: 100%;
        border-radius: 30px;
        background-color: #3a4f24;
        display: flex;
        border: none;
        justify-content: center;
        align-items: center;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 20px;
        padding: 20px;
      }
      .mark-button-c:hover {
        background-color: gray;
        border: none;
        width: 100%;
      }
      span {
        margin: 5px;
      }
    }
  }
}
