* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.upper-left-container {
  padding: 3vh;
  margin-bottom: 2%;
  position: absolute;
  width: 100%;
  border-radius: 50px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;

  h5 {
    font-size: 13px;
    color: grey;
    font-family: sans-serif;
  }
}
.middle-left-container {
  padding: 3vh;
  margin-bottom: 2%;
  position: absolute;
  width: 100%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.bottom-left-container {
  padding: 3vh;
  margin-bottom: 2%;
  position: absolute;
  width: 100%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;

  h4 {
    font-size: 17px;
  }
}

.right-container {
  padding: 3vh;
  margin-bottom: 2%;
  position: relative;
  width: 100%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;

  h5 {
    font-size: 17px;
  }
}
