.task-prof-one .dropdown button {
  width: 700px;
  height: 86px;
  font-size: 40px;
}

.task-prof-one .dropdown2 button {
  width: 700px;
  height: 86px;
  margin-left: 790px;
  margin-top: -120px;
  font-size: 40px;
}

.tcontainer {
  margin-top: 50px;
  display: grid;
  place-items: center;
}
.tcontainer .con {
  width: 1100px;
  height: 800px;
  border: 1px solid;
  border-radius: 20px;
}

.indrop {
  padding: 20px;
  height: 100px;


  button {
    font-size: 30px;
  }

  img {
    height: 150px;
    margin-left: 250px;
    margin-top: -105px;
    cursor: pointer;
  }
}

.form .default {
    font-size: 25px;
    margin-top: -10px;
    padding: 10px 0px 10px 50px;
}

.tcontainer2{
    margin-top: 50px;
    display: grid;
    place-items: center;
}

.tcontainer2 .con2{
    width: 1000px;
    height: 510px;
    margin-top: -70px;
    background-color: rgb(255, 255, 255);
    
    
    h1{
    text-align: center;
    padding: 10px;
    height:20px;
    margin-top: 10px;
}


.taskt{
    width: 900px;
    height: 30px;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
}

    .task-title{
        padding: 20px;
        height: 60px;
        .task-text{
          border-radius: 100px;
        }
        
    }   
    
}

.points{
    text-align: left;
    margin-left: 25px;
    margin-top: 20px;
}

.tcontainer2 .con2 .taskt2{
  width: 500px;
    height: 30px;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
}

.description{
  text-align: left;
    margin-left: 25px;
    margin-top: 20px;
}

.tcontainer2 .con2 .taskt3{
  width: 960px;
    height: 200px;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
}

.post{
    text-align: center;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    margin-left: 900px;
    margin-top: 30px;
    background-color: rgb(165, 165, 165);
    cursor: pointer;
}


