.feed-post {
    .feed-announcement {
        border-radius: 25px;
        min-height: 250px;
        margin-bottom: 2%;
        padding: 5vw;
        .header-announcement {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h6 {
                text-align: center;
                font-size: 0.5em;
                margin: 0;
            }
        }
    }
    .feed-post-one {
        .h2-text {
            color: gray;
        }
        .input-placeholder .textArea {
            resize: none;
            outline: none;
            padding: 10px;
        }

        .h2-text-one {
            color: gray;
        }
        .input-placeholder-one {
            .textArea {
                resize: none;
                outline: none;
                padding: 10px;
            }

            :is(:focus, :valid) {
                border-color: rgb(156, 156, 156);
                border-width: 2px;
                padding: 14px;
            }
        }
        .create-post {
            color: rgb(255, 255, 255);
            font-size: 25px;
            border-radius: 30px;
        }
    }
}

.word-count {
    text-align: right;
    width: 100%;
    margin-top: 15px;
    color: gray;
}
