* {
  margin: 0;
  box-sizing: border-box;
}
.mainmain{
  margin: 2px;
  .stat-header {
    padding: 0;
    margin-bottom: 20px;
    background-color: #3a4f24;
    width: 500%;
    display: flex;
    justify-content: flex-start;
    h1 {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      padding: 10px;
      margin-left: 10px;
      margin-top: 10px;
      color: #ffffff;
      font-style: italic;
      font-weight: 500;
    }
    span {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      color: #dbbc2c;
    }
    
    
  }
.card-main {
  width: 100%;
  margin: 2px;
  padding: 40px;

  

  .stat-card {
    background: transparent;
    width: 100%;
    border: none;
    background-color: rgba(242, 255, 227, 0.773);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 30px;

    .stat-three {
      width: 100%;
      border: none;
      display: flex;
      border-radius: 20px;
      flex-direction: row;
      justify-content: space-between;
      .btn-group {
        width: 50%;
        border: none;
      }
    }

    
  }
  .statistics-table{
    padding: 40px;
    background-color: rgba(242, 255, 227, 0.773);
    margin: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    .teehe{
      font-size: 20px;
      font-family: "Raleway", sans-serif;
      margin: 10px;
      padding: 20px;
    }
    .teede{
      font-size: 20px;
      font-family: "Raleway", sans-serif;
      margin: 10px;
      padding: 20px;
    }
    .dldl{
      background-color:#3a4f24;
      padding: 20px;
      border-radius: 30px;
      margin: 30px;
      margin-bottom:0;
      width: 10%;
    
      .dldldl{
        font-family: "Raleway", sans-serif;
        color: white;

      }

    }
  }
}
}