* {
  margin: 0;
  box-sizing: border-box;
}
.mainmain {
  margin: 2px;
  .stat-header {
    padding: 0;
    margin-bottom: 20px;
    background-color: #3a4f24;
    width: 500%;
    display: flex;
    justify-content: flex-start;
    h1 {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      padding: 10px;
      margin-left: 10px;
      margin-top: 10px;
      color: #ffffff;
      font-style: italic;
      font-weight: 500;
    }
    span {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      color: #dbbc2c;
    }
  }
  .card-main {
    width: 100%;
    margin: 2px;
    padding: 40px;

    .stat-card {
      background: transparent;
      width: 100%;
      border: none;
      background-color: rgb(236, 235, 235);
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
      padding: 30px;
      border-radius: 10px;

      .stat-three {
        width: 100%;
        border: none;
        display: flex;
        border-radius: 20px;
        flex-direction: row;
        justify-content: space-between;
        .btn-group {
          width: 50%;
          border: 2px solid #e4e4e4;
          margin: 10px;

          background-color: #ffffff;
        }
        .btn-group:active {
          background-color: #3a4f24;
        }
      }
    }
    .statistics-table {
      padding: 3%;
      background-color: rgb(236, 235, 235);
      margin: 30px;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
      border-radius: 20px;
      border: 1px solid #e0e0e0;
      .teehe {
        font-size: 20px;
        font-family: "Raleway", sans-serif;
        margin: 10px;
        padding: 20px;
      }
      .teede {
        font-size: 20px;
        font-family: "Raleway", sans-serif;
        margin: 10px;
        padding: 20px;
      }

      .butt-con {
        display: flex;
        justify-content: center;

        .dldl:hover {
          background-color: #3a4f24;
        }
        .dldl {
          background-color: white;
          padding: 20px;
          border-radius: 30px;
          width: 60%;
          height: 57px;
          margin-bottom: 1%;

          .dldldl {
            font-family: "Raleway", sans-serif;
            color: black;
            font-weight: 700;
          }
        }
      }
    }
  }
}
