.dropdown-task {
    width: 100%;
    .task-prof-one {
        .dropdown button {
            width: 700px;
            height: 86px;
            font-size: 40px;
        }
        .dropdown2 {
            button {
                width: 700px;
                height: 86px;
                margin-left: 790px;
                margin-top: -120px;
                font-size: 40px;
            }
        }
    }

    .tcontainer {
        display: grid;
        place-items: center;
        margin: 3% 10% 0% 10%;
        position: relative;
        border: 0;
        .task-container {
            width: 1100px;
            height: 50vh;
            border: 1px solid;
            border-radius: 20px;
            margin-bottom: 30px;
            margin-top: 150px;
            position: relative;

            .task-text {
                font-size: 30px;
            }
            .info {
                width: 100%;
                display: flex;
                .task-title {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 15px;
                    width: 20%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .block {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 12px;
                    width: 50%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .due {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 10px;
                    width: 20%;
                }
            }
        }

        .info-one {
            background-color: rgb(201, 201, 201);
            height: 50px;
            top: 150px;
            padding: 10px;
            position: relative;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            .connect-title {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;

                left: 100px;
            }
            .block {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;

                left: 720px;
            }
            .due {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;
                left: 950px;
            }
        }

        .info-two {
            height: 50px;
            top: 150px;
            padding: 10px;
            position: relative;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            .connect-title {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;
                left: 100px;
            }
            .block {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;

                left: 720px;
            }
            .due {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;
                left: 950px;
            }
        }
    }

    .check {
        width: 1100px;
        height: 50vh;
        border: 1px solid;
        border-radius: 20px;
        margin-bottom: 30px;
        position: relative;

        .info {
            background-color: rgb(255, 255, 255);
            height: 50px;
            top: 150px;
            padding: 10px;
            position: relative;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;

            .check-title {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;
                left: 100px;
            }
            .block {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;
                left: 720px;
            }
            .due {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;
                left: 950px;
            }
        }
        .info-one {
            background-color: rgb(201, 201, 201);
            height: 50px;
            top: 150px;
            padding: 10px;
            position: relative;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            .check-title {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;

                left: 100px;
            }
            .block {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;

                left: 720px;
            }
            .due {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;
                left: 950px;
            }
        }
        .info-two {
            height: 50px;
            top: 150px;
            padding: 10px;
            position: relative;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            .check-title {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;
                left: 100px;
            }
            .block {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;

                left: 720px;
            }
            .due {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;
                left: 950px;
            }
        }
    }
    .check-text {
        font-size: 30px;
        position: absolute;
        left: 40px;
        top: 30px;
    }

    .coach {
        width: 1100px;
        height: 50vh;
        border: 1px solid;
        border-radius: 20px;
        margin-bottom: 30px;
        position: relative;

        .info {
            background-color: rgb(255, 255, 255);
            height: 50px;
            top: 150px;
            padding: 10px;
            position: relative;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;

            .check-title {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;
                left: 100px;
            }
            .block {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;
                left: 720px;
            }
            .due {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;
                left: 950px;
            }
        }
        .info-one {
            background-color: rgb(201, 201, 201);
            height: 50px;
            top: 150px;
            padding: 10px;
            position: relative;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            .check-title {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;

                left: 100px;
            }
            .block {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;

                left: 720px;
            }
            .due {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;
                left: 950px;
            }
        }
        .info-two {
            height: 50px;
            top: 150px;
            padding: 10px;
            position: relative;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            .check-title {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;
                left: 100px;
            }
            .block {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;

                left: 720px;
            }
            .due {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                position: absolute;
                left: 950px;
            }
        }
    }
    .coach-text {
        font-size: 30px;
        position: absolute;
        left: 40px;
        top: 30px;
    }
}

.plus {
    position: absolute;
    top: 100px;
    left: 1150px;
}

.floating-window {
    animation: fadeIn 0.3s ease forwards;
    box-shadow: 1999px 11000px 2100px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 52.5%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0);
    height: 200%;
    width: 80%;
    backdrop-filter: blur(5px);

    .plus-task {
        height: 70vh;
        width: 70%;
        padding: 1vw;
        border: 6px solid;
        border-radius: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header-plus-task {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header-task-selection {
                width: 30%;
            }
        }
        .post-ass-button {
            border-radius: 90px;
            background-color: rgb(221, 220, 220);
            height: 50px;
        }
        .post-ass-button:hover {
            background-image: linear-gradient(45deg, #044a6b, #09612a, #044a6b);
            color: white;
        }

        .plus-title {
            padding: 1vw;
            width: 100%;
            min-height: 80%;

            overflow-y: auto;
            .task-name-container {
                display: flex;
                width: 100%;
                height: 50px;
                align-items: center;
                justify-content: space-between;
                .task-name {
                    display: inline-block;
                    font-size: 25px;
                    width: fit-content;
                }
                .task-name-input {
                    width: 80%;
                    border-radius: 90px;
                }
                .task-name-input:hover {
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
                }
            }
        }

        .plus-block {
            width: 100%;
            height: fit-content;
            display: flex;
            align-items: center;
            .blockN {
                margin: 0;
                display: inline-block;
                font-size: 25px;
            }
        }
        .due {
            width: 500px;
            .dueN {
                font-size: 25px;
            }
        }
    }
    .h2-text-one {
        width: 100%;
        min-height: fit-content;
        .input-placeholder-one {
            width: 100%;
            line-height: 10;
        }
    }
    .eks {
        position: absolute;
        left: 1080px;
        top: 520px;
        font-size: 40px;
        z-index: 1000;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.taskN {
    font-size: 25px;
    color: gray;
}

.assigned {
    font-size: 25px;
    color: gray;
    top: 90px;
    left: 800px;
    position: absolute;
}

.dueD {
    font-size: 25px;
    color: gray;
    top: 90px;
    left: 1040px;
    position: absolute;
}
