* {
  margin: 0;
  box-sizing: border-box;
}

.nav-tab .nav-item {
  background-color: #eae9e9;
  color: #333;
}

// First tab scss (INSTRUCTION)
.instruction-container {
  margin-top: 2%;
  display: grid;
  place-items: center;

  .header-container {
    max-width: 850px;
    padding: 3vh;
    margin-bottom: 1%;
    width: 100%;
    border-radius: 15px;
  }

  .content-container,
  .attachment-container {
    max-width: 850px;
    padding: 3vh;
    margin-bottom: 1%;
    width: 100%;
    border-radius: 15px;
  }
}

// Second tab scss (STUDENT WORK)
.overall-container {
  display: flex;

  // Left part of student-work content
  .left-container {
    width: 50%;
    justify-content: center;

    .upper-left-container {
      height: 185px;
      padding: 3vh;

      .sub-upper-left-container {
        border: none;
        padding: 0% 1% 0% 1%;

        .activity-title {
          font-size: 22px;
        }

        .sub-content {
          max-height: 200px;
          overflow-y: auto;

          .stats {
            .numbers,
            .labels {
              div {
                text-align: left;
                width: 20%;
              }
            }
          }
        }
      }

      .button-container {
        button {
          background-color: rgb(139, 139, 139);
          border-color: grey;
          margin-left: 1%;
        }
      }
    }

    .student-table-container {
      justify-content: space-around;
      padding: 1% 0% 2% 2%;

      .container-1 {
        .content-1::-webkit-scrollbar-thumb {
          background-color: #eae9e9;
        }
        ::-webkit-scrollbar {
          width: 8px;
        }

        .content-1 {
          max-height: 550px; //Set max height for scrollbar
          overflow-y: auto; // Enable vertical scrollbar

          .table-1,
          .table-2,
          .table-3 {
            .checkbox {
              width: 1%;
            }
            .icon {
              margin-right: 10px;
              .bx {
                font-size: 25px;
              }
            }
          }
        }
      }
    }
  }

  // Right part of student-work content
  .right-container {
    width: 65%;
    padding: 2vh;
    position: relative;

    .floating-button {
      position: absolute;
      bottom: 20px;
      right: 400px;
      z-index: 999;
      background-color: transparent;
      border: none;
      color: black;
    }

    .right-sub-content {
      font-size: 15px;

      .attached-file {
        position: relative;

        .floating-window {
          height: 200px;
          width: 30%;
          background-color: rgb(255, 255, 255);
          border: 2px solid;
          box-shadow: 10px 100px 900px 100px rgba(0, 0, 0, 10); 
          border-radius: 40px;
       
        

          .history {
            background-color: rgb(209, 209, 209);
            height: 100px;
            padding: 40px;
            
            p {
              display: inline; 
              padding: 20px;
              
              
    
              text-align: center;
             
            }
          }
          .history:hover{}
        }
      }
    }
  }
}
