
.nav-tab-shi {
  .nav-link {
    color: white;
  }
  .nav-link:hover {
    color: #dbbc2c;
  }
  .nav-item {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    background-color: #3a4f24;
  }
}

// First tab scss (INSTRUCTION)
.tab-content{
  padding: 50px;
  
}
.instruction-container {
  place-items: center;
  

  .header-container {
    padding: 3vh;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 2%;
    background-color: rgba(242, 255, 227, 0.773);
    border: none;
    width: 100%;
    border-radius: 15px;
    .task-type-w {
      font-size: 40px;
      color: rgb(0, 0, 0);
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      .task-title-w{
        font-size: 40px;
        color: rgb(0, 0, 0);
        font-family: "Raleway", sans-serif;
        font-weight: 700;
      }
    }
    .points-label-w {
      font-size: 20px;
      color: rgb(136, 0, 0);
      font-family: "Raleway", sans-serif;
      font-weight: 600;
    }
    .points {
      font-size: 30px;
      color: rgb(158, 0, 0);
      font-family: "Raleway", sans-serif;
    }
    .posted {
      font-size: 15px;
      display: flex;
      justify-content: center;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      padding: 10px;
      padding-bottom: 0;
      .date {
        font-family: "Raleway", sans-serif;
        color: rgba(0, 204, 102, 0.842);
      }
      
  
  }
}

.content-container-shi {
  padding: 3vh;
  margin-bottom: 2%;
  width: 100%;
  background-color: rgba(242, 255, 227, 0.773);
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  .no {
    font-family: "Raleway", sans-serif;
    padding: 40;
    text-align: center;
  }
}
.attachment-container-shi {
  padding: 6vh;
  height: auto;
  margin-bottom: 2%;
  margin: 20px;
  width: 100%;
  background-color: rgba(242, 255, 227, 0.773);
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  .image-container {
    height: auto;
    width: 200px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .attachment-image {
    width: 100%;
    height: auto;
  }
}
}


// Second tab scss (STUDENT WORK)
.overall-container {
  display: flex;

  .left-container {
    width: 65%;
    justify-content: center;

    .upper-left-container {
      height: 185px;
      padding: 3vh;

      .sub-upper-left-container {
        border: none;
        padding: 0% 1% 0% 1%;

        .activity-title {
          font-size: 22px;
        }

        .sub-content {
          max-height: 200px;
          overflow-y: auto;

          .stats {
            .numbers,
            .labels {
              div {
                text-align: left;
                width: 20%;
              }
            }
          }
        }
      }

      .button-container {
        button {
          background-color: rgb(139, 139, 139);
          border-color: grey;
          margin-left: 1%;
        }
      }
    }

    .student-table-container {
      justify-content: space-around;
      padding: 1% 0% 2% 2%;

      .container-1 {
        .content-1::-webkit-scrollbar-thumb {
          background-color: #eae9e9;
        }
        ::-webkit-scrollbar {
          width: 8px;
        }

        .content-1 {
          max-height: 550px; 
          overflow-y: auto; 

          .table-1,
          .table-2,
          .table-3 {
            .checkbox {
              width: 1%;
            }
            .icon {
              margin-right: 10px;
              .bx {
                font-size: 25px;
              }
            }
          }
        }
      }
    }
  }

  // Right part of student-work content
  .right-container {
    width: 65%;
    padding: 2vh;
    position: relative;

    .floating-button {
      position: absolute;
      bottom: 20px;
      right: 400px;
      z-index: 999;
      background-color: transparent;
      border: none;
      color: black;
    }

    .right-sub-content {
      font-size: 15px;

      .attached-file {
        position: relative;

        .floating-window {
          height: 200px;
          width: 30%;
          background-color: rgb(255, 255, 255);
          border: 2px solid;
          box-shadow: 10px 100px 900px 100px rgba(0, 0, 0, 10); 
          border-radius: 40px;
       
        

          .history {
            background-color: rgb(209, 209, 209);
            height: 100px;
            padding: 40px;
            
            p {
              display: inline; 
              padding: 20px;
              
              
    
              text-align: center;
             
            }
          }
       
        }
      }
    }
  }
}
