* {
  margin: 0;
  box-sizing: border-box;
}

.nav-tab .nav-item {
  background-color: #eae9e9;
  color: #333;
}

// First tab scss (INSTRUCTION
.instruction-container {
  margin-top: 2%;
  display: grid;
  place-items: center;

  .header-container {
    max-width: 850px;
    padding: 3vh;
    margin-bottom: 1%;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    h5: {
      font-size: 2px;
      color: grey;
      font-family: sans-serif;
    }
  }

  .content-container {
    max-width: 850px;
    padding: 3vh;
    margin-bottom: 1%;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  .attachment-container {
    max-width: 850px;
    padding: 3vh;
    margin-bottom: 1%;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    h4: {
      font-size: 17px;
    }
  }
}

// Second tab scss (STUDENT WORK)
.button-container {
  padding: 2% 2% 0% 2%;

  button {
    background-color: rgb(139, 139, 139);
    border-color: grey;
  }
}
.student-work-container {
  display: flex;
  justify-content: space-around;
  padding: 1% 2% 2% 2%;

  .container-1 {
    width: 35%;

    .content-1::-webkit-scrollbar-thumb {
      background-color: #eae9e9;
    }
    .content-1 {
      max-height: 550px; //Set max height for scrollbar
      overflow-y: auto; // Enable vertical scrollbar

      .table-1 {
        .checkbox {
          width: 1%;
        }
        .icon {
          margin-right: 10px;

          .bx {
            font-size: 25px;
          }
        }
      }

      .table-2 {
        .checkbox {
          width: 1%;
        }
        .icon {
          margin-right: 10px;

          .bx {
            font-size: 25px;
          }
        }
      }

      .table-3 {
        .checkbox {
          width: 1%;
        }
        .icon {
          margin-right: 10px;

          .bx {
            font-size: 25px;
          }
        }
      }
    }
  }
}

.container-2 {
  width: 65%;
  border: none;
  padding: 0% 1% 0% 1%;

  .activity-title {
    font-size: 22px;
  }

  .content-2 {
    max-height: 200px;
    overflow-y: auto;

    .stats {
      .numbers {
        font-size: 50px;
        div{
          text-align: left;
          width: 12%;
        }
      }
      .labels{
        div{
          text-align: left;
          width: 12%;
        }
      }
    }
  }
}
